/*
 * (C) Copyright IBM Corp. 2020  All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0
*/
.Consumer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100vh;
    background-color: $ui-01;

    &__control {
        align-self: flex-end;
        margin-bottom: $layout-02;
    }
}
