.Producer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    &__control {
        display: flex;
        justify-content: space-between;
        margin-bottom: $layout-02;
    }

}
