.Producer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100vh;
    background-color: $ui-01;

    &__count {
        margin-top: 10%;
    }
    &__control {
        display: flex;
        justify-content: space-between;
    }
    &__message {
        max-width: 20%;
        &:not(.Producer__message--first) {
            margin-top: $spacing-08;
        }
    }
}
