version: 2
updates:
- package-ecosystem: npm
  directory: "/ui"
  schedule:
    interval: weekly
  open-pull-requests-limit: 10
- package-ecosystem: maven
  directory: "/"
  schedule:
    interval: weekly
  open-pull-requests-limit: 10