name: Git

on: 
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint Commit Messages

    steps:
      - uses: actions/checkout@v4
        #with:
        #  ref: ${{ github.event.pull_request.head.sha }}
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Fetch origin
        run: git fetch origin
      - name: Event Sender
        run: echo ${{ github.event.sender.login }}
      - name: Lint commit message
        if: ${{ github.event.sender.login != 'dependabot[bot]' }}
        #run: npx commitlint --from origin/${{ github.base_ref }} --to HEAD -g ./ui/package.json
        run: npx commitlint --from origin/refs/heads/master --to HEAD -g ./ui/package.json
